.row{
    width: 80%;
    height: 800px;
    background-color: slategray;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.col{
    background-color: yellowgreen;
    border: 1px solid black;
}

.row .col:nth-child(1)
{
    background-color: green;
    grid-row-start: 1;
    grid-row-end: 4;
}

.row .col:nth-child(2)
{
    background-color: aquamarine;
    grid-column-start: 2;
    grid-column-end: 4;
}

.row .col:nth-child(6)
{
    background-color: green;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
}

